@using Librarian.Utils;
@{
    string? url_Jobs_GetJobsSummary = Url.Action("GetJobsSummary", "Jobs");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Librarian</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false);
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="nav">
            <div class="nav-brand">
                <a asp-area="" asp-controller="Home" asp-action="Index">Librarian</a>
            </div>
        </div>
    </div>
    <div class="main" role="main">
        @RenderBody()
    </div>
    <div class="footer window-statusbar">
        <div id="app-statusbar-message" class="flex-fill">
            &copy; 2023 - Librarian
        </div>
        <progress id="app-statusbar-progress" class="collapsed" max="1" value="0"></progress>
    </div>
    <script>
        document.librarian_url_Jobs_GetJobsSummary = "@url_Jobs_GetJobsSummary";
    </script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
